*
!.gitignore
!portfolio/
!portfolio/brugis1.jpg
!portfolio/brugis2.jpg
!portfolio/brugis3.jpg
!portfolio/brugis4.jpg
!portfolio/brugis5.jpg
!portfolio/brugis6.jpg
!portfolio/brugis7.jpg
!portfolio/brugis8.jpg
!portfolio/brugis9.jpg
!portfolio/brugis10.jpg
!pirmsunpec/
!pirmsunpec/pecbetona.jpg
!pirmsunpec/pecgranita.jpg
!pirmsunpec/pecklinkera.jpg
!pirmsunpec/pirmsbetona.jpg
!pirmsunpec/pirmsgranita.jpg
!pirmsunpec/pirmsklinkera.jpg
